<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .layui-input{
            width: 37%;
            display: unset;
        }
        p{
            text-align: center;
        }
        div{
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="height: 250px">
        <p style="color: white;padding-top: 20px">我的密码:</p>
        <p><input type="password" name="oldpassword" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input input1"></p>
        <p><input type="password" name="newpass" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input input"></p>
        <p><input type="password" name="newpassword" required lay-verify="required" placeholder="请再次输入新密码" autocomplete="off" class="layui-input input2"></p>
        <button id="but" type="button" class="layui-btn">修改</button>
    </div>
    <script>
        $("#but").click(function () {
            if($(".input").val()!=$(".input2").val()){
                alert("新密码冲突,请重新输入！！")
            }else{
                $(".rightDiv").load("/passwordSet?oldpassword="+$(".input1").val()+"&newpassword="+$(".input2").val());
            }

        })


    </script>
</body>
</html>